<div id="add-category">
    <div id="card-add">
        <div class="flex justify-between item-center dark:bg-gray-700 dark:border-gray-400 p-4 border rounded-t-lg">
            <h4 class="font-semibold dark:text-gray-400">Thêm danh mục</h4>
            <button class="px-3 py-1 dark:bg-blue-900 rounded-lg">
                Lưu
            </button>
        </div>
        <div class="dark:border-gray-400 border border-t-0 rounded-b-lg">
            body
        </div>
    </div>
</div>