<%
const rowCategories = (categories, num)=>{
    num++;
    categories.map(category=>{
%>
    <%-include('./item-category.ejs', {category, num});%>
<%
        if(category.children.length !== 0){
            rowCategories(category.children, num);
        }
    });
}
%>

<div id="list-category">
    <div id="card-list">
        <div class="flex justify-between item-center dark:bg-gray-700 dark:border-gray-400 p-4 border rounded-t-lg">
            <h4 class="font-semibold dark:text-gray-400">Danh mục</h4>
        </div>
        <div class="dark:border-gray-400 border border-t-0 rounded-b-lg h-96 overflow-auto">

            <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="p-2">
                            <div class="flex items-center">
                                <input id="checkbox-all" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                <label for="checkbox-all-search" class="sr-only">checkbox</label>
                            </div>
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Title
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Sort
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Action
                        </th>
                    </tr>
                    </thead>
                    <tbody >
                        <%rowCategories(categories,0)%>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', ()=>{
        const cbSelectAll = $('#checkbox-all');
        const allItemCb = $('input[name="cbItemId[]"]');
        cbSelectAll.change((e)=>{
            allItemCb.prop('checked',cbSelectAll.is(":checked"));
        });

        allItemCb.click((e)=>{
            let isCheckAll = allItemCb.length === $('input[name="cbItemId[]"]:checked').length;
            console.log(isCheckAll)
            cbSelectAll.prop('checked', isCheckAll);
        });
    });
</script>
